[Desktop Entry] 
Name=XMind 
Exec=/usr/soft/xmind/xmind-8-update8-linux/XMind_amd64/run.sh
Icon=/home/wvdon/space/down/macOS11/apps/128/xmind.png
Type=Application
Categories=GTK;GNOME;Office; 
